html {
    font-size: 20px;
}

.navigation {
    width: 80%;
    margin: 0 auto;
    font-family: 'Arimo', sans-serif;
    padding: 0;
}

.navigation-item {
    float: left;
    width: 25%;
    list-style: none;
    text-align: center;
    border: 1px dashed black;
    box-sizing: border-box;
    position: relative;
    transition: all 0.7s;
}

.navigation-item a {
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    padding: 1rem 0;
    cursor: cell;

}

.nav {
    position: absolute;
    top: 55px;
    height: 0;
    overflow: hidden;
    transition: all 0.7s;
}

.nav-btm {
    list-style: none;
}

.navigation-item:hover .nav {
    height: 500px;
}

.nav-btm::after {
    content: '';
    background-image: url("../img/b04b7cee2aed3dc084759051b954fb4e.png");
    height: 50px;
    width: 50px;
    display: inline-block;
    background-position: -78px -3px;
    background-size: 400px;
}

.nav-btm:nth-child(2)::after {
    background-position: -11px -3px;
}

.nav-btm:nth-child(3)::after {
    background-position: 55px -3px;
}

.second::after {
    content: '';
    background-image: url("../img/youtube-icon-vector.png");
    background-position: 213px -3px;
    background-size: 300px;
} 

.second:nth-child(2)::after {
    content: '';
    background-image: url("../img/youtube-icon-vector.png");
    background-position: 214px -80px;
    background-size: 300px;
} 

.second:nth-child(3)::after {
    content: '';
    background-image: url("../img/youtube-icon-vector.png");
    background-position: -86px 129px;
    background-size: 300px;
} 

.second:nth-child(4)::after {
    content: '';
    background-image: url("../img/youtube-icon-vector.png");
    background-position: 66px -219px;
    background-size: 300px;
} 

.third::after {
    content: '';
    background-position: 260px -3px;
} 

.third:nth-child(2)::after {
        content: '';
        background-position: 127px -3px;
    } 

.third:nth-child(3)::after {
        content: '';
        background-position: 327px -67px;
    } 

.third:nth-child(4)::after {
        content: '';
        background-position: 195px -59px;
    } 

    .fourth::after {
        content: '';
        background-image: url("../img/ikonki4.jpg");
        background-position: 150px 359px;
        background-size: 600px;
    } 

    .fourth:nth-child(2)::after {
        content: '';
        background-position: 437px 139px;
    }

    .fourth:nth-child(3)::after {
        content: '';
        background-position: 154px 139px;
    }





