div {
    width: 100px;
    height: 100px;
    background-color: blue;
}

div:hover {
    border-radius: 50%;
    background-color: red;
}

div::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
}
